.app-wrapper {

  display: flex;

  min-height: 100vh;

  background: #f4f6f9;
}

/* MAIN */

.main-wrapper {

  flex: 1;

  margin-left: 260px;

  transition: all 0.3s ease;
}

/* SIDEBAR COLLAPSED */

.main-wrapper.expanded {

  margin-left: 80px;
}

/* CONTENT */

.content-wrapper {

  padding: 20px;

  margin-top: 65px;
}