<aside
  class="main-sidebar"
  [class.collapsed]="collapsed">

  <!-- BRAND -->
  <div class="sidebar-brand">

    <i class="bi bi-box"></i>

    <span *ngIf="!collapsed">

      ERP MYPE

    </span>

  </div>

  <!-- MENU -->
  <nav class="sidebar-nav">

    <ul class="nav flex-column">

      <li
        class="nav-item"
        *ngFor="let item of menuItems">

        <!-- SIMPLE -->
        <a
          *ngIf="!item.children"
          [routerLink]="item.route"
          class="nav-link">

          <i [class]="item.icon"></i>

          <span *ngIf="!collapsed">

            {{ item.label }}

          </span>

        </a>

        <!-- PARENT -->
        <a
          *ngIf="item.children"
          class="nav-link"
          (click)="toggle(item)">

          <i [class]="item.icon"></i>

          <span *ngIf="!collapsed">

            {{ item.label }}

          </span>

          <i
            *ngIf="!collapsed"
            class="bi ms-auto"
            [ngClass]="item.open
              ? 'bi-chevron-down'
              : 'bi-chevron-left'">
          </i>

        </a>

        <!-- SUBMENU -->
        <ul
          class="submenu"
          *ngIf="item.open && !collapsed">

          <li
            *ngFor="let child of item.children">

            <a
              [routerLink]="child.route">

              {{ child.label }}

            </a>

          </li>

        </ul>

      </li>

    </ul>

  </nav>

</aside>