<nav
  class="app-header navbar navbar-expand bg-body">

  <!-- LEFT -->
  <ul class="navbar-nav">

    <!-- TOGGLE -->
    <li class="nav-item">

      <a
        class="nav-link"
        href="javascript:void(0)"
        (click)="toggleSidebar.emit()">

        <i class="bi bi-list"></i>

      </a>

    </li>

    <!-- DOCS -->
    <li class="nav-item d-none d-md-block">

      <a class="nav-link">

        Documentation

      </a>

    </li>

    <!-- LIVE -->
    <li class="nav-item d-none d-md-block">

      <a class="nav-link">

        Live Preview

      </a>

    </li>

  </ul>

  <!-- RIGHT -->
  <ul class="navbar-nav ms-auto">

    <!-- SEARCH -->
    <li class="nav-item">

      <a class="nav-link">

        <i class="bi bi-search"></i>

      </a>

    </li>

    <!-- NOTIFICATIONS -->
    <li class="nav-item dropdown">

      <a class="nav-link position-relative">

        <i class="bi bi-bell-fill"></i>

        <span
          class="navbar-badge badge text-bg-warning">

          3

        </span>

      </a>

    </li>

    <!-- ALERTS -->
    <li class="nav-item dropdown">

      <a class="nav-link position-relative">

        <i class="bi bi-chat-text-fill"></i>

        <span
          class="navbar-badge badge text-bg-danger">

          5

        </span>

      </a>

    </li>

    <!-- USER -->
    <li class="nav-item dropdown user-menu">

      <a class="nav-link d-flex align-items-center">

        <img
          src="https://i.pravatar.cc/40"
          class="user-image rounded-circle shadow"
          alt="User">

        <span class="d-none d-md-inline ms-2">

          {{ username }}

        </span>

      </a>

    </li>

  </ul>

</nav>