/* HEADER */

.app-header {

  position: fixed;

  top: 0;

  left: 260px;

  right: 0;

  height: 57px;

  z-index: 1030;

  border-bottom: 1px solid #dee2e6;

  transition: all 0.3s ease;
}

/* COLLAPSED */

.sidebar-collapsed-header {

  left: 80px;
}

/* USER IMAGE */

.user-image {

  width: 32px;

  height: 32px;

  object-fit: cover;
}

/* BADGES */

.navbar-badge {

  font-size: 0.65rem;

  font-weight: 600;

  position: absolute;

  top: 5px;

  right: 0;
}